    /* Gallery container :
iover-x auto?
                white-space: nowrap; 
     */
     
    .gallery-container {
  display: flex;
  align-items: center;
  position: relative;
} 
    .gallery {
        display: flex;
        overflow-x: scroll;
        gap: 8px;
        padding: 8px;
       /* padding-left: 10px; */
        border-top: 1px solid #ccc;
         border-bottom: 1px solid #ccc;
       scroll-snap-type: x mandatory;  /* Snap scroll on each item */
        max-width: 100%; /* Limit the width */
    }



    /* Gallery items (thumbnails) */
     .gallery div, .NOthumbnail {
        flex: 0 0 auto; /* Prevent thumbnails from shrinking or growing */
        width: 120px;   /* Set a fixed width for the thumbnail */
        height: 120px;  /* Set a fixed height */
        cursor: pointer;
        transition: transform 0.2s, opacity 0.2s, border 0.2s;
        border-radius: 8px;
    }

  .gallery div img,   .gallery   img,  .NOthumbnail img {
        width: 100%;
        height: 100%;  /*  60px;*/
        object-fit: cover; /* Ensures images maintain aspect ratio */
        border-radius: 8px;
    }

    /* Hover effect for thumbnail */
     .gallery div:hover ,   .gallery li:hover ,.NOthumbnail:hover {
        opacity: 0.7; /* Make it slightly transparent on hover */
        border: 3px solid #007BFF; /* Add a blue border on hover */
        transform: scale(1.2); /* Slight zoom effect */
    }

    /* Gallery container scrollbar styles */
    .gallery::-webkit-scrollbar {
        height: 8px;
    }

    .gallery::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .gallery::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    
  
.scroll-btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 50%;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.scroll-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
  
