body {      /* esto mata el scroll overflow: hidden; */
        background-color: lightcyan;  
 }

#canvas {     /* OJO      width: 20%;  //height: 50%;  */
 }
 
h2, .css-3d-text {
    font-size: 26px;
    color: #075d9f;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 
        0px 0px 2px rgba(255, 255, 255,  0.6),  
        1px 1px 3px rgba(255, 255, 255, 0.4),  /* White shadow */
        2px 2px 5px rgba(122, 110, 239, 0.6),   /* Dark blue shadow */
         5px 5px 10px rgba(122, 110, 239, 0.3);
 }

/* form */
#try-section {
  font-family: Arial, sans-serif;
}

label {
  /*font-weight: bold;*/
  display: inline-block;
  margin-top: 10px;
    flex: 0 0 45%;
        width: 45%; /* 350pxAdjust as needed */
  text-align: right; /* Aligns label text to the right for better form layout */
  margin-right: 5px; /* Optional: Adds spacing between the label and input */
}

input {
        flex: 1;
        
  display: block;
  width: 45%;
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.note {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
}
