<div class="watermark-wrapper">
  <div class="watermark">
    <!--   watermark  (text/image) -->
    <p> Zrydys.Github.IO </p>
  </div>
</div>

<style>
  .watermark-wrapper {
    position: relative;
  }
  .watermark {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
    font-size: 2em;
    z-index: 10;
    pointer-events: none;
  }
 
  .watermark-wrapper {   position: relative;  display: inline-block; }
  .watermark-wrapper img { width: 30%; 
	 ndisplay: block;  
	 display: line-block;  
     max-width: 100%;  height: auto;
   }
  .watermark {   position: absolute;  top: 50%;  left: 50%;  transform: translate(-50%, -50%) rotate(-25deg);  font-size: 3rem;  font-weight: bold;  color: rgba(255, 0, 0, 0.25);  pointer-events: none;  user-select: none;  z-index: 2; }`
</style>
